@import '~bootstrap/scss/bootstrap';

ul,
ol,
menu {
    list-style: none;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    background-color: #1C1C1C;
    color: white;
}

img {
    max-width: 100%;
}

.page-header {
    background-color: white;
    font-weight: bold;
    color: #1C1C1C;

    .logo {
        width: 70px;
        display: block;
    }

    input {
        border-style: none;
        border-bottom: 2px solid #0282F9;
    }
}